<script
  type="text/javascript"
  src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"
></script>

<script type="text/javascript">
  function getemail(id) {
    console.log("아이디확인", id);
    document.getElementById("to_email").value = id;
  }
</script>

<script type="text/javascript">
  var row = [];
  function sendEmail() {
    const content = {
      // to_email: document.getElementById("to_email").value,
      subject: document.getElementById("subject").value,
      email_message: document.getElementById("email_message").value,
    };
    console.log(content);
    $.ajax({
      type: "POST",
      url: "/api/sendmail",
      traditional: true,
      data: content,
      dataType: "json",
    })
      .done(function (data, textStatus, xhr) {
        alert("발송완료");
        console.log(data);
      })
      .fail(function (xhr, textStatus, errorThrown) {
        alert(errorThrown);
      });
  }
</script>

<script type="text/javascript" language="javascript" class="init">
  var lang_kor = {
    decimal: "",
    emptyTable: "데이터가 없습니다.",
    info: "_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)",
    infoEmpty: "0개",
    infoFiltered: "(전체 _MAX_명 중 검색결과)",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "_MENU_개씩 보기",
    loadingRecords: "로딩중...",
    processing: "처리중...",
    search: "검색 :",
    zeroRecords: "검색된 데이터가 없습니다.",
    paginate: {
      first: "첫 페이지",
      last: "마지막페이지",
      next: "다음",
      previous: "이전",
    },
    aria: {
      sortAscending: ":오름차순 정렬",
      sortDescending: ":내림차순 정렬",
    },
  };

  var editor; // use a global for the submit and return data rendering in the examples

  $(document).ready(function () {
    //CRUD
    editor = new $.fn.dataTable.Editor({
      ajax: "/api/admin_member",
      table: "#admin_member_table",
      fields: [
        {
          label: "아이디",
          name: "admin_signname",
        },
      ],
    });
    // 항목별 검색기능
    $("#admin_member_table thead tr")
      .clone(true)
      .addClass("filters")
      .appendTo("#admin_member_table thead");

    $("#admin_member_table").DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      initComplete: function () {
        var api = this.api();

        // For each column
        api
          .columns()
          .eq(0)
          .each(function (colIdx) {
            // Set the header cell to contain the input element
            var cell = $(".filters th").eq(
              $(api.column(colIdx).header()).index()
            );
            var title = $(cell).text();
            $(cell).html('<input type="text" placeholder="검색" />');

            // On every keypress in this input
            $(
              "input",
              $(".filters th").eq($(api.column(colIdx).header()).index())
            )
              .off("keyup change")
              .on("change", function (e) {
                // Get the search value
                $(this).attr("title", $(this).val());
                var regexr = "({search})"; //$(this).parents('th').find('select').val();

                // Search the column for that value
                api
                  .column(colIdx)
                  .search(
                    this.value != ""
                      ? regexr.replace("{search}", "(((" + this.value + ")))")
                      : "",
                    this.value != "",
                    this.value == ""
                  )
                  .draw();
              })
              .on("keyup", function (e) {
                e.stopPropagation();

                $(this).trigger("change");
                $(this).focus()[0];
              });
          });
      },
      // 항목별 검색기능 끝.
      ///Binding

      dom: "Bfrtip", // PBfrtip
      ajax: {
        url: "/api/admin_member",
        type: "POST",
        // type: "get",
      },

      language: lang_kor,
      columns: [
        {
          data: "admin_signname",
          render: function (data, type) {
            console.log(type);
            if (type == "display") {
              var save = data;
              console.log(save);
              console.log(data);
              //  `<label for="tab-2" onclick="getApi(${data});">` + data;
              data =
                `<label for="tab-2" onclick="getemail('${data}')";>` + data;
            }
            return data;
          },
        },
      ],
      serverSide: true,
      select: true,
      // searching: true,
      buttons: [
        { extend: "create", editor: editor, text: "등록" },
        { extend: "edit", editor: editor, text: "수정" },
        { extend: "remove", editor: editor, text: "삭제" },
      ],
    });

    $("#admin_member_table tbody").on("click", "tr", function () {
      console.log("클릭이벤트");

      row.push($("#admin_member_table").DataTable().row($(this)).data());

      console.log(row.admin_signname);
      console.log(row);
      console.log(row.length);
    });
  });
</script>
<div class="main">
  <input type="radio" id="tab-1" name="show" checked />
  <input type="radio" id="tab-2" name="show" />
  <!-- <input type="radio" id="tab-3" name="show" /> -->
  <div class="tab">
    <label for="tab-1">관리자 이메일</label>
    <label for="tab-2">이메일 보내기</label>
    <!-- <label for="tab-3">메일함 </label> -->
  </div>
  <div class="content">
    <div class="content-dis">
      <div class="demo-html">
        <table id="admin_member_table" class="display" style="width: 100%">
          <thead>
            <tr>
              <th>아이디</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <!--이메일보내기 -->
    <div class="demo-html">
      <div class="modal-header bg-blue">
        <h4 class="modal-title"><i class="fa fa-envelope"></i> 메일 보내기</h4>
      </div>
      <form action="#" method="post">
        <div class="modal-body">
          <div class="form-group">
            <input
              id="to_email"
              name="to"
              type="email"
              class="form-control"
              placeholder="받는사람"
            />
          </div>
          <div class="form-group">
            <input
              id="cc"
              name="cc"
              type="email"
              class="form-control"
              placeholder="보내는사람"
            />
          </div>
          <div class="form-group">
            <input
              id="subject"
              name="subject"
              type="text"
              class="form-control"
              placeholder="제목"
            />
          </div>
          <div class="form-group">
            <textarea
              name="message"
              id="email_message"
              class="form-control"
              placeholder="메세지"
              style="height: 120px"
            ></textarea>
          </div>
          <!-- <div class="form-group">
            <input type="file" id="attachment" name="attachment" />
          </div> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary pull-right"
            onclick="sendEmail()"
          >
            <i class="fa fa-envelope"></i> Send Message
          </button>
        </div>
      </form>
    </div>
    <!--이메일보내기 -->

    <div class="demo-html"></div>
  </div>
</div>
