<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<title>Conaz_admin</title>
	   <style>
		thead input {
		  width: 100%;
		  text-align: center;
		}
	  </style>

	<script type="text/javascript" language="javascript" src="../js/dataTables.editor.min.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/syntax/shCore.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/demo.js"></script>
	<script type="text/javascript" language="javascript" src="./resources/editor-demo.js"></script>
	<script type="text/javascript" language="javascript" class="init">
		var editor; // use a global for the submit and return data rendering in the examples

		$(document).ready(function () {
			//CRUD
			editor = new $.fn.dataTable.Editor({
				ajax: "/api/construction",
				table: "#construction",
				fields: [
					{
						label: "건설사 타입",
						name: "company_type",
					},
					{
						label: "건설사",
						name: "name",
					},					
					{
						label: "주소",
						name: "address",
					},
					{
						label: "CEO이름",
						name: "ceo_name",
					},
					{
						label: "가입일",
						name: "created_at",
						type: "datetime",
						def: function () { return new Date(); },
    			 	format: "YYYY-MM-DD" 
					},
					{
						label: "수정일",
						name: "updated_at",
						type: "datetime",
						def: function () { return new Date(); },
    			 	format: "YYYY-MM-DD" 
					},
				],
			});
			// 항목별 검색기능
			$("#construction thead tr")
				.clone(true)
				.addClass("filters")
				.appendTo("#construction thead");

			$("#construction").DataTable(
				{
					orderCellsTop: true,
					fixedHeader: true,
					initComplete: function () {
						var api = this.api();

						// For each column
						api
							.columns()
							.eq(0)
							.each(function (colIdx) {
								// Set the header cell to contain the input element
								var cell = $(".filters th").eq(
									$(api.column(colIdx).header()).index()
								);
								var title = $(cell).text();
								$(cell).html(
									'<input type="text" placeholder="' + title + '" />'
								);

								// On every keypress in this input
								$(
									"input",
									$(".filters th").eq($(api.column(colIdx).header()).index())
								)
									.off("keyup change")
									.on("change", function (e) {
										// Get the search value
										$(this).attr("title", $(this).val());
										var regexr = "({search})"; //$(this).parents('th').find('select').val();

										var cursorPosition = this.selectionStart;
										// Search the column for that value
										api
											.column(colIdx)
											.search(
												this.value != ""
													? regexr.replace(
															"{search}",
															"(((" + this.value + ")))"
														)
													: "",
												this.value != "",
												this.value == ""
											)
											.draw();
									})
									.on("keyup", function (e) {
										e.stopPropagation();

										$(this).trigger("change");
										$(this)
											.focus()[0]
											.setSelectionRange(cursorPosition, cursorPosition);
									});
							});
					},
					// 항목별 검색기능 끝.
				//DATA 바인딩
					dom: "Bfrtip",
					ajax: "/api/construction",
					columns: [
						{ data: "company_type"},
						{ data: "name" },
						{ data: "address"},
						{ data: "ceo_name"},
						// { data: "users.position" },
						{ data: "created_at" },
						{ data: "updated_at" },

					],
					select: true,
					buttons: [
						{ extend: "create", editor: editor, text: "등록" },
						{ extend: "edit", editor: editor, text: "수정" },
						{ extend: "remove", editor: editor, text: "삭제" },
					],
				},
				function () {
					console.log("확인");
				}
			);
		});
	</script>
</head>
<body class="dt-example node">
		<h1 style="margin: 10px;" >건설사</h1> <!--건설사 회원에서 건설사 공장으로 수정-->
			<div class="demo-html">
				<table id="construction" class="display" style="width:100%">
					<thead>
						<tr>
							<th>회사 유형</th>
							<th>건설사</th>
							<th>주소</th>
							<th>CEO이름</th>
							<th>생성일</th>
							<th>수정일</th>
						</tr>
					</thead>				
				</table>
			</div>
	
	
</body>
</html>