<!-- 견적내역 -->
<script type="text/javascript" language="javascript" class="init">
  //Korean
</script>

<script
  type="text/javascript"
  language="javascript"
  src="/js/construction_estimate.js"
></script>

<!-- 건설사내역 -->

<div class="main">
  <div class="content">
    <div class="content-dis">
      <div class="demo-html">
        <table
          id="history_management_table"
          class="display"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>레미콘공장</th>
              <th>레미콘 공장 주소</th>
              <!-- <th>시간/거리</th>
							<th>생산설비</th> -->
              <th>영업사원</th>
              <th>단가율</th>
              <th>견적요청 일시</th>
              <th>상태</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
