<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
        <title>메인 페이지</title>
    </head>

</head>

<body>

        <div class="login-container">
            <h1 id="login-header">환영합니다</h1>
            <form id="login-form" action="/login" method="post">
                <input class="login-form-field" name="signname" type="text" placeholder="아이디" /> <br />
                <input class="login-form-field" name="password" type="password" placeholder="패스워드" /> <br />
                <input id="login-form-submit" value="로그인" type="submit" /> <br />
            </form>
        </div>

</body>

</html>