<script type="text/javascript" language="javascript" class="init">
  var lang_kor = {
    decimal: "",
    emptyTable: "데이터가 없습니다.",
    info: "_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)",
    infoEmpty: "0개",
    infoFiltered: "(전체 _MAX_명 중 검색결과)",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "_MENU_개씩 보기",
    loadingRecords: "로딩중...",
    processing: "처리중...",
    search: "검색 :",
    zeroRecords: "검색된 데이터가 없습니다.",
    paginate: {
      first: "첫 페이지",
      last: "마지막페이지",
      next: "다음",
      previous: "이전",
    },
    aria: {
      sortAscending: ":오름차순 정렬",
      sortDescending: ":내림차순 정렬",
    },
  };

  var editor; // use a global for the submit and return data rendering in the examples

  $(document).ready(function () {
    //CRUD
    editor = new $.fn.dataTable.Editor({
      ajax: "/api/questions",
      table: "#questions_table",
      fields: [
        {
          label: "상담유형",
          name: "questions.type",
          attr: { disabled: true },
        },
        {
          label: "문의제목",
          name: "questions.title",
          attr: { disabled: true },
        },
        {
          label: "문의내용",
          name: "questions.content",
          type: "textarea",
          attr: { disabled: true },
        },
        {
          label: "문의첨부파일",
          name: "questions.attachments",
          attr: { disabled: true },
        },
        {
          label: "답변",
          name: "questions.reply",
          type: "textarea",
        },
        {
          label: "답변상태",
          name: "questions.reply_state",
          type: "select",
          options: [
            { label: "미답변", value: 0 },
            { label: "답변", value: 1 },
          ],
        },
        {
          label: "문의일자",
          name: "questions.created_at",
          type: "datetime",
          def: function () {
            return new Date();
          },
          format: "YYYY-MM-DD",
        },
        {
          label: "수정일",
          name: "questions.updated_at",
          type: "datetime",
          def: function () {
            return new Date();
          },
          format: "YYYY-MM-DD",
        },
      ],
    });
    // 항목별 검색기능
    $("#questions_table thead tr")
      .clone(true)
      .addClass("questions_filters")
      .appendTo("#questions_table thead");

    $("#questions_table").DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      initComplete: function () {
        var api = this.api();

        // For each column
        api
          .columns()
          .eq(0)
          .each(function (colIdx) {
            // Set the header cell to contain the input element
            var cell = $(".questions_filters th").eq(
              $(api.column(colIdx).header()).index()
            );
            var title = $(cell).text();
            $(cell).html('<input type="text" placeholder="검색" />');

            // On every keypress in this input
            $(
              "input",
              $(".questions_filters th").eq(
                $(api.column(colIdx).header()).index()
              )
            )
              .off("keyup change")
              .on("change", function (e) {
                // Get the search value
                $(this).attr("title", $(this).val());
                var regexr = "({search})"; //$(this).parents('th').find('select').val();

                // Search the column for that value
                api
                  .column(colIdx)
                  .search(
                    this.value != ""
                      ? regexr.replace("{search}", "(((" + this.value + ")))")
                      : "",
                    this.value != "",
                    this.value == ""
                  )
                  .draw();
              })
              .on("keyup", function (e) {
                e.stopPropagation();

                $(this).trigger("change");
                $(this).focus()[0];
              });
          });
      },
      // 항목별 검색기능 끝.
      ///Binding

      dom: "Bfrtip", // PBfrtip
      ajax: {
        url: "/api/questions",
        // type: "POST",
        // type: "get",
      },
      language: lang_kor,
      columns: [
        { data: "questions.id" },
        {
          data: "companies.company_type",
          render: function (data, type, row) {
            switch (data) {
              case "REMICON":
                return "레미콘";
                break;
              case "CONSTRUCTION":
                return "건설사";
                break;
              case null:
                return "";
                break;
            }
          },
        },
        { data: "questions.type" },
        { data: "users.name" },
        { data: "companies.name" },
        { data: "users.phone" },
        { data: "questions.title" },
        { data: "questions.content" },
        { data: "questions.attachments" },
        { data: "questions.created_at" },
        { data: "questions.reply" },
        {
          data: "questions.reply_state",
          render: function (data) {
            return data === 0 ? "<p>미답변</p>" : "<p>답변</p>";
          },
        },
      ],
      // serverSide: true,
      select: true,
      searching: true,
      buttons: [
        { extend: "edit", editor: editor, text: "상세보기 및 답변" },
        { extend: "remove", editor: editor, text: "삭제" },
      ],
    });
  });
</script>

<span style="font-size: 2rem; font-weight: 600">1:1문의</span>
<div class="demo-html" style="margin-top: 10px">
  <table
    id="questions_table"
    class="display"
    style="width: 100%"
    ellspacing="0"
  >
    <thead>
      <tr>
        <th>등록번호</th>
        <th>구분</th>
        <th>상담유형</th>
        <th>이름</th>
        <th>회사명</th>
        <th>휴대전화</th>
        <th>문의제목</th>
        <th>문의내용</th>
        <th>문의첨부파일</th>
        <th>문의일자</th>
        <th>답변</th>
        <th>답변상태</th>
        <!-- <th>문의상태</th> -->
      </tr>
    </thead>
  </table>
</div>
