<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
	<title>Conaz_admin</title>
	</style>
	

	   <style>
		thead input {
		  width: 100%;
			text-align: center;
		}
	  </style>
	


	<script type="text/javascript" language="javascript" class="init">
	//Korean    
	var lang_kor={
		"decimal":"","emptyTable":"데이터가 없습니다.","info":"_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)","infoEmpty":"0개","infoFiltered":"(전체 _MAX_명 중 검색결과)",
		"infoPostFix":"","thousands":",",
		"lengthMenu":"_MENU_개씩 보기",
		"loadingRecords":"로딩중...","processing":"처리중...","search":"검색 :","zeroRecords":"검색된 데이터가 없습니다."
		,"paginate":{"first":"첫 페이지","last":"마지막페이지","next":"다음","previous":"이전"},"aria":{"sortAscending":":오름차순 정렬","sortDescending":":내림차순 정렬"}};

		var editor; // use a global for the submit and return data rendering in the examples

		$(document).ready(function () {
			//CRUD
			editor = new $.fn.dataTable.Editor({
				ajax: "/api/estimate_info",
				table: "#estimate_info",
				fields: [
					{
						label: "레미콘사",
						name: "spaces.name",
					},	
					// {
					// 	label: "공장맴버",
					// 	name: "users.company_id",
					  
					// },
					{
						label: "담당자",
						name: "admin_user.name",
					},
					{
						label: "담당자직책",
						name: "admin_user.position",
					},
					
					{
						label: "담당자(현장)",
						name: "site_user.name",
					},
					{
						label: "담당자(현장)직책",
						name: "site_user.position",
					},
				
					
				],
				
			});
			
			// 항목별 검색기능
			$("#estimate_info thead tr")
				.clone(true)
				.addClass("filters")
				.appendTo("#estimate_info thead");

			var table = $("#estimate_info").DataTable(
				{
					orderCellsTop: true,
					fixedHeader: true,
					initComplete: function () {
						var api = this.api();

						// For each column
						api
							.columns()
							.eq(0)
							.each(function (colIdx) {
								// Set the header cell to contain the input element
								var cell = $(".filters th").eq(
									$(api.column(colIdx).header()).index()
								);
								var title = $(cell).text();
								$(cell).html(
									'<input type="text" placeholder="' + title + '" />'
								);

								// On every keypress in this input
								$(
									"input",
									$(".filters th").eq($(api.column(colIdx).header()).index())
								)
									.off("keyup change")
									.on("change", function (e) {
										// Get the search value
										$(this).attr("title", $(this).val());
										var regexr = "({search})"; //$(this).parents('th').find('select').val();

										var cursorPosition = this.selectionStart;
										// Search the column for that value
										api
											.column(colIdx)
											.search(
												this.value != ""
													? regexr.replace(
															"{search}",
															"(((" + this.value + ")))"
														)
													: "",
												this.value != "",
												this.value == ""
											)
											.draw();
									})
									.on("keyup", function (e) {
										e.stopPropagation();

										$(this).trigger("change");
										$(this)
											.focus()[0]
											.setSelectionRange(cursorPosition, cursorPosition);
									});
							});
					},
					// 항목별 검색기능 끝.
				//DATA 바인딩
					dom: "Bfrtip",
					ajax: {
						url:"/api/estimate_info",
						type:"POST"
					},
					serverSide:true,
					language : lang_kor,
					columns: [
					{ data: "spaces.id",
            		"render": function(data, type, row){
                	if(type == 'display'){
                 	 console.log("확인", data);
                    // data = '<a href="'+ data + '"></a>';
                      //  data = '<a href="/views/construction_transaction_estimate2.html>'+ data;
                      //  data = '<a href="/views/construction_transaction_estimate2.html?테스트12">'+ data;
                        data = '<a href="#remicon_transaction_order_Container">';
                          // $.ajax ({
                          // url:"/api/esimate_management2:테스트1",
                          // type:"post"})
               	 }             
               	 return data;
           			 }},
						{ data: "spaces.name"},
						{ data: null, render: function ( data, type, row ) {
						return data.admin_user.name+' '+data.admin_user.position;
						} },
						{ data: null, render: function ( data, type, row ) {
						return data.site_user.name+' '+data.site_user.position;
						} },
					 
					],
					select: true,
					buttons: [
						{ extend: "create", editor: editor, text: "등록" },
						{ extend: "edit", editor: editor, text: "수정" },
						{ extend: "remove", editor: editor, text: "삭제" },
					],
				},
				
			);
		// 	$('#estimate_info tbody').on( 'click', 'tr', function () {
  		// var rowData = table.row( this ).data();
        // console.log("rowData",rowData.spaces.id)
		// let data = rowData.spaces.id
  		//   `<a id=#remicon_transaction_order_Container?${data}></a>`;
		// } );
		});
      
	
		
</script>

</head>
<body class="dt-example node">
			<h1 style="margin: 10px;" >레미콘사 견적내역</h1>
	
					<div class="demo-html">
						<table id="estimate_info" class="display" style="width:100%" cellspacing="0">
							<thead>
								<tr>
									<th>번호</th>
									<th>레미콘사</th>
									<!-- <th>공장맴버</th> -->
			
									<th>담당자</th>
									<th>담당자(현장)</th>
								</tr>
							</thead>
						
						</table>
				
		  </div>
	
</body>
</html>