

	<script type="text/javascript" language="javascript" class="init">
		var lang_kor={
		"decimal":"","emptyTable":"데이터가 없습니다.","info":"_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)","infoEmpty":"0개","infoFiltered":"(전체 _MAX_명 중 검색결과)",
		"infoPostFix":"","thousands":",",
		"lengthMenu":"_MENU_개씩 보기",
		"loadingRecords":"로딩중...","processing":"처리중...","search":"검색 :","zeroRecords":"검색된 데이터가 없습니다."
		,"paginate":{"first":"첫 페이지","last":"마지막페이지","next":"다음","previous":"이전"},"aria":{"sortAscending":":오름차순 정렬","sortDescending":":내림차순 정렬"}};
		
		var editor; // use a global for the submit and return data rendering in the examples

		$(document).ready(function () {
			//CRUD
			editor = new $.fn.dataTable.Editor({
				ajax: "/api/remicon",
				table: "#remicon_table",
				fields: [			
					{
						label: "건설사:",
						name: "name",
					},
					{
						label: "주소:",
						name: "address",
					},
					{
						label: "CEO 이름:",
						name: "ceo_name",		
					},
					{
						label: "생성일:",
						name: "created_at",
						type: "datetime",
						def: function () { return new Date(); },
    			 	format: "YYYY-MM-DD" 
					},
					{
					  label: "수정일:",
					  name: "updated_at",
					  type: "datetime",
						 def: function () { return new Date(); },
    			  format: "YYYY-MM-DD" 
					},
				],
			})					
			// 항목별 검색기능
			$("#remicon_table thead tr")
				.clone(true)
				.addClass("filters")
				.appendTo("#remicon_table thead");

			$("#remicon_table").DataTable(
				{
					orderCellsTop: true,
					fixedHeader: true,
					initComplete: function () {
						var api = this.api();

						// For each column
						api
							.columns()
							.eq(0)
							.each(function (colIdx) {
								// Set the header cell to contain the input element
								var cell = $(".filters th").eq(
									$(api.column(colIdx).header()).index()
								);
								var title = $(cell).text();
								$(cell).html(
									'<input type="text" placeholder="검색"/>'
								);

								// On every keypress in this input
								$(
									"input",
									$(".filters th").eq($(api.column(colIdx).header()).index())
								)
									.off("keyup change")
									.on("change", function (e) {
										// Get the search value
										$(this).attr("title", $(this).val());
										var regexr = "({search})"; //$(this).parents('th').find('select').val();

										var cursorPosition = this.selectionStart;
										// Search the column for that value
										api 
											.column(colIdx)
											.search(
												this.value != ""
													? this.value
													: "",
												this.value != "",
												this.value == ""
											)
											.draw();
									})
									.on("keyup", function (e) {
										e.stopPropagation();

										$(this).trigger("change");
										$(this)
											.focus()[0]
											.setSelectionRange(cursorPosition, cursorPosition);
									});
							});
					},
					// 항목별 검색기능 끝.
					///Binding
					dom: "'Bfrtip'", // PBfrtip
					ajax: {
						url:  "/api/remicon",
						type: "POST"
					},
					language : lang_kor,
					columns: [	
						
						{ data: "name" },
						{ data: "address" },
						{ data: "ceo_name" },
						{ data: "created_at" },				
						{ data: "updated_at" },
					
					],
					serverSide: true,
					select: true,
					searchable: true,
    				  search: {
      					  regex: true,
      				},
					buttons: [
						{ extend: "create", editor: editor, text: "등록" },
						{ extend: "edit", editor: editor, text: "상세보기 및 수정" },
						{ extend: "remove", editor: editor, text: "삭제" },
			
					],
				},
			);
		});
	</script>
	<span style="font-size: 2rem; font-weight: 600">레미콘사</span>
	<div class="demo-html" style="margin-top: 10px">
						<table id="remicon_table" class="display" style="width:100%">
							<thead>
								<tr>
									<th>건설사</th>
									<th>주소</th>
									<th>CEO이름</th>
									<th>생성일</th>
									<th>수정일</th>
								
								</tr>
							</thead>					
						</table>
					</div>	
	  </div>
