<script
  type="text/javascript"
  language="javascript"
  src="/js/remicon_estimate.js"
></script>
<script
  type="text/javascript"
  language="javascript"
  src="/js/remicon_order.js"
></script>
<script
  type="text/javascript"
  language="javascript"
  src="/js/remicon_transaction.js"
></script>
<script
  type="text/javascript"
  language="javascript"
  src="/js/remicon_member_num.js"
></script>

<script type="text/javascript" language="javascript" class="init">
  //Korean
  var num_id;
  var spaces_id;
  var lang_kor = {
    decimal: "",
    emptyTable: "데이터가 없습니다.",
    info: "_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)",
    infoEmpty: "0개",
    infoFiltered: "(전체 _MAX_명 중 검색결과)",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "_MENU_개씩 보기",
    loadingRecords: "로딩중...",
    processing: "처리중...",
    search: "검색 :",
    zeroRecords: "검색된 데이터가 없습니다.",
    paginate: {
      first: "첫 페이지",
      last: "마지막페이지",
      next: "다음",
      previous: "이전",
    },
    aria: { sortAscending: ":오름차순 정렬", sortDescending: ":내림차순 정렬" },
  };
  var editor; // use a global for the submit and return data rendering in the examples
  var num_remicon_estimate = 0;
  var num_remicon_transaction = 0;
  var num_remicon_order = 0;
  var num_remicon_memberlist = 0;
  $(document).ready(function () {
    //CRUD
    editor = new $.fn.dataTable.Editor({
      ajax: "/api/remicon_management_list",
      type: "post",
      table: "#remicon_management_list_table",
      fields: [
        {
          label: "레미콘사코드",
          name: "spaces.company_id",
        },
        {
          label: "레미콘사",
          name: "spaces.name",
        },
        {
          label: "레미콘사 주소",
          name: "spaces.basic_address",
        },
        {
          label: "구성원 수",
          name: "cnt",
        },
      ],
    });

    // 항목별 검색기능
    $("#remicon_management_list_table thead tr")
      .clone(true)
      .addClass("remicon_filters_info")
      .appendTo("#remicon_management_list_table thead");

    $("#remicon_management_list_table").DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      initComplete: function () {
        var api = this.api();

        // For each column
        api
          .columns()
          .eq(0)
          .each(function (colIdx) {
            // Set the header cell to contain the input element
            var cell = $(".remicon_filters_info th").eq(
              $(api.column(colIdx).header()).index()
            );
            var title = $(cell).text();
            $(cell).html('<input type="text" placeholder="검색" />');

            // On every keypress in this input
            $(
              "input",
              $(".remicon_filters_info th").eq(
                $(api.column(colIdx).header()).index()
              )
            )
              .off("keyup change")
              .on("change", function (e) {
                // Get the search value
                $(this).attr("title", $(this).val());
                var regexr = "({search})"; //$(this).parents('th').find('select').val();

                // var cursorPosition = this.selectionStart;
                // Search the column for that value
                api
                  .column(colIdx)
                  .search(
                    this.value != "" ? this.value : "",
                    this.value != "",
                    this.value == ""
                  )
                  .draw();
              })
              .on("keyup", function (e) {
                e.stopPropagation();
                $(this).trigger("change");
                // $(this)
                //   .focus()[0]
                //   .setSelectionRange(cursorPosition, cursorPosition);
              });
          });
      },
      // 항목별 검색기능 끝.
      //DATA 바인딩
      dom: "Bfrtip",
      ajax: {
        url: "/api/remicon_management_list",
        type: "post",
      },
      language: lang_kor,
      columnDefs: [{ targets: [4], visible: false }],
      columns: [
        {
          data: "companies.id",
          render: function (data, type, row) {
            if (type == "display") {
              data =
                // `<label for="tab-2" onclick="remicon_getApi(${data}); remicon_getApi_order(${data}); remicon_getApi_Transaction(${data});">`
                `<label for="tab-2">` + data;
            }
            return "<a href='#'>" + data + "</a>";
          },
        },
        // { data: "spaces.company_id" },
        { data: "companies.name" },
        { data: "companies.address" },
        {
          data: "cnt",
          render: function (data, type, row) {
            if (data == null) {
              data = "";
            }
            if (type == "display") {
              data = `<label for="tab-5">` + data;
            }
            return data;
          },
        },
        { data: "spaces.id" },
      ],
      select: true,
      serverSide: true,
      searchable: true,
      search: {
        regex: true,
      },
      destroy: true,
      buttons: [
        { extend: "create", editor: editor, text: "등록" },
        { extend: "edit", editor: editor, text: "상세보기 및 수정" },
        { extend: "remove", editor: editor, text: "삭제" },
        {
          extend: "collection",
          text: "내보내기",
          buttons: ["excel", "csv"],
        },
      ],
    });

    // $("#myTable > thead > tr")
    //   .children()
    //   .each(function (indexInArray, valueOfElement) {
    //     $("#select").append(
    //       "<option>" + valueOfElement.innerHTML + "</option>"
    //     );
    //   });

    $("#remicon_management_list_table tbody").on("click", "tr", function () {
      var testTable = $("#remicon_management_list_table").dataTable();
      spaces_id = testTable.fnGetData(this).spaces.id;

      var companies_name = testTable.fnGetData(this).companies.name;
      num_id = testTable.fnGetData(this).companies.id;

      remicon_getApi(spaces_id);
      remicon_getApi_order(spaces_id);
      remicon_getApi_Transaction(spaces_id);
      remicon_membernum(num_id);

      $("#ex1_Result1").html(" 현재 선택한 레미콘 : " + companies_name);
      $("#ex1_Result2").html(" 현재 선택한 레미콘 : " + companies_name);
      $("#ex1_Result3").html(" 현재 선택한 레미콘 : " + companies_name);
    });

    // 선택한 로우값 가져오기
    // $(document).on(
    //   "click",
    //   "#remicon_management_list_table tbody tr",
    //   function () {

    // let str = "";
    // // 배열 선언
    // // 현재 클릭된 Row(<tr>)
    // let tr = $(this);
    // let td = tr.children();
    // num_id = td.eq(4).text();
    // console.log("abcd", num_id);

    // remicon_membernum(num_id);
    //   }
    // );
  });
</script>
<div class="main">
  <input type="radio" id="tab-1" name="show" checked />
  <input type="radio" id="tab-2" name="show" />
  <input type="radio" id="tab-3" name="show" />
  <input type="radio" id="tab-4" name="show" />
  <input type="radio" id="tab-5" name="show" />
  <div class="tab">
    <label for="tab-1">레미콘사 리스트</label>
    <label for="tab-2">견적내역</label>
    <label for="tab-3">주문내역 </label>
    <label for="tab-4">거래내역</label>
    <label for="tab-5">구성원리스트</label>
  </div>

  <div class="content">
    <div class="content-dis">
      <div class="demo-html">
        <table
          id="remicon_management_list_table"
          class="display"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th>레미콘사 코드</th>
              <th>레미콘사</th>
              <th>레미콘사 주소</th>
              <th>구성원 수</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="demo-html">
      <div class="col-lg-12" id="ex1_Result1"></div>
      <span style="font-size: 1.5rem; font-weight: 400"
        >견적내역 컬럼값 대기중 : 거리,시간, 예상물량
      </span>
      <!-- 견적내역-->
      <table id="remicon_esimate_table" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>견적코드</th>
            <th>견적요청접수일자</th>
            <th>건설사코드</th>
            <th>건설사</th>
            <th>건설현장코드</th>
            <th>현장명</th>
            <th>건설사담당자</th>
            <th>견적단가율</th>
            <th>상태</th>
            <!-- <th>예상물량</th> -->
            <th>레미콘사담당자</th>
          </tr>
        </thead>
      </table>
      <!-- <div class="col-lg-12" id="ex1_Result1"></div> -->
    </div>
    <!-- 주문내역-->
    <div class="demo-html">
      <div class="col-lg-12" id="ex1_Result2"></div>
      <span style="font-size: 1.5rem; font-weight: 400"
        >주문내역 컬럼값 대기중 : 주문 승인여부
      </span>
      <table id="remicon_order_table" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>주문아이디</th>
            <th>배정일자</th>
            <th>건설사코드</th>
            <th>건설사</th>
            <th>건설현장코드</th>
            <th>현장명</th>
            <th>배송일정</th>
            <th>합계수량</th>
            <th>특기사항</th>
            <!-- <th>주문 승인여부</th> -->
          </tr>
        </thead>
      </table>
      <!-- <div class="col-lg-12" id="ex1_Result2"></div> -->
    </div>
    <!-- 거래내역-->

    <div class="demo-html">
      <div class="col-lg-12" id="ex1_Result3"></div>
      <span style="font-size: 1.5rem; font-weight: 400"
        >거래내역 컬럼값 대기중 : 예정수량, 실제 납품수량, 거래내역 확인여부
      </span>
      <table id="remicon_transaction_table" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>납품일자</th>
            <th>건설사코드</th>
            <th>건설사</th>
            <th>건설현장코드</th>
            <th>건설현장</th>
            <th>규격</th>
          </tr>
        </thead>
      </table>
      <!-- <div class="col-lg-12" id="ex1_Result3"></div> -->
    </div>
    <div class="demo-html">
      <table id="remicon_memberlist_table" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>이름</th>
            <th>공장명</th>
            <th>전화번호</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
