<script
  type="text/javascript"
  language="javascript"
  src="/js/remicon_factorylist_table.js"
></script>

<script type="text/javascript" language="javascript" class="init">
  var lang_kor = {
    decimal: "",
    emptyTable: "데이터가 없습니다.",
    info: "_START_ 부터- _END_ 까지 (총 _TOTAL_ 데이터)",
    infoEmpty: "0개",
    infoFiltered: "(전체 _MAX_명 중 검색결과)",
    infoPostFix: "",
    thousands: ",",
    lengthMenu: "_MENU_개씩 보기",
    loadingRecords: "로딩중...",
    processing: "처리중...",
    search: "검색 :",
    zeroRecords: "검색된 데이터가 없습니다.",
    paginate: {
      first: "첫 페이지",
      last: "마지막페이지",
      next: "다음",
      previous: "이전",
    },
    aria: {
      sortAscending: ":오름차순 정렬",
      sortDescending: ":내림차순 정렬",
    },
  };
  var num_remicon_list = 0;
  var editor; // use a global for the submit and return data rendering in the examples
  var signname;
  $(document).ready(function () {
    //CRUD
    editor = new $.fn.dataTable.Editor({
      ajax: "/api/remicon_member",
      table: "#remicon_table",
      fields: [
        {
          label: "이메일:",
          name: "users.signname",
        },
        {
          label: "이름:",
          name: "users.name",
        },
        {
          label: "핸드폰번호:",
          name: "users.phone",
        },
        {
          label: "회사명:",
          name: "users.company_id",
          type: "text",
          placeholder: "Select a location",
          id: "asearch",
        },
        {
          label: "직위/직급:",
          name: "users.position",
        },
        {
          label: "전화번호:",
          name: "users.tel",
        },
        {
          label: "생성일:",
          name: "users.created_at",
          type: "datetime",
          def: function () {
            return new Date();
          },
          format: "YYYY-MM-DD",
        },
        {
          label: "banners:",
          name: "users.updated_at",
        },
      ],
    });
    // 항목별 검색기능
    $("#remicon_table thead tr")
      .clone(true)
      .addClass("filters")
      .appendTo("#remicon_table thead");

    var table = $("#remicon_table").DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      initComplete: function () {
        var api = this.api();

        // For each column
        api
          .columns()
          .eq(0)
          .each(function (colIdx) {
            // Set the header cell to contain the input element
            var cell = $(".filters th").eq(
              $(api.column(colIdx).header()).index()
            );
            var title = $(cell).text();
            $(cell).html('<input type="text" placeholder="검색" />');

            // On every keypress in this input
            $(
              "input",
              $(".filters th").eq($(api.column(colIdx).header()).index())
            )
              .off("keyup change")
              .on("change", function (e) {
                // Get the search value
                $(this).attr("title", $(this).val());
                var regexr = "({search})"; //$(this).parents('th').find('select').val();

                var cursorPosition = this.selectionStart;
                // Search the column for that value
                api
                  .column(colIdx)
                  .search(
                    this.value != "" ? this.value : "",
                    this.value != "",
                    this.value == ""
                  )
                  .draw();
              })
              .on("keyup", function (e) {
                e.stopPropagation();

                $(this).trigger("change");
                $(this)
                  .focus()[0]
                  .setSelectionRange(cursorPosition, cursorPosition);
              });
          });
      },
      // 항목별 검색기능 끝.
      ///Binding

      dom: "Bfrtip", // PBfrtip
      ajax: {
        url: "/api/remicon_member",
        type: "POST",
        // success : function(data) { console.log("ajax확인",data); },
        // error : function(){ alert("로딩실패!"); }
      },
      language: lang_kor,
      columnDefs: [
        {
          // targets: 0,
          data: "users.id",
          render: function (data, type) {
            console.log("aasdf");
          },

          // defaultContent :null,
          // data: null,
          // return :false
        },
        // defaultContent: "Click to edit"
      ],
      columns: [
        { data: "users.id" },
        { data: "users.name" },
        {
          data: "concat(companies.name,' 외 ',(select count(a.signname)-1 from users a where a.signname=users.signname group by a.signname),' 건 ')",
        },
        { data: "users.position" },
        { data: "users.tel" },
        {
          data: "users.signname",
          render: function (data, type) {
            console.log("data1", data);
            if (type == "display") {
              data =
                `<label for="tab-2" onclick="remicon_get_factorylist('${data}')"; >` +
                data;
            }
            // console.log("data",data)
            return data;
          },
        },
        { data: "users.phone" },
        { data: "users.created_at" },
        { data: "users.updated_at" },
      ],
      serverSide: true,
      select: true,
      searchable: true,
      search: {
        regex: true,
      },
      buttons: [
        { extend: "create", editor: editor, text: "등록" },
        { extend: "edit", editor: editor, text: "상세보기 및 수정" },
        { extend: "remove", editor: editor, text: "삭제" },
      ],
    });
    // $("#remicon_table tbody").rows().every( function () {
    // this.child( 'Row details for row: '+this.index() );
    // console.log("화긴");
    // });

    // $("#remicon_table tbody").on("click", "tr", function () {
    //   console.log("화긴");
    // });

    // $(document).on("click", "#remicon_table tbody tr", function () {
    // console.log("이벤확인");
    //   var str = "";

    //   // 배열 선언
    //   // 현재 클릭된 Row(<tr>)
    //   var tr = $(this);
    //   var td = tr.children();
    //   signname = td.eq(5).text();
    //   console.log(signname);
    // });

    // table.rows().every( function () {
    // this.child( 'Row details for row: '+this.index() );
    // console.log("화긴");
    // });
  });
</script>

<!-- 자동완성 리스트를 불러오기위한 로직 -->
<script>
  $(function () {
    let companies_namelist = [];
    $.ajax({
      type: "get",
      url: "/api/remicon_info",
      dataType: "json",
    }).done(function (data) {
      for (var i in data.data) {
        companies_namelist.push({
          label: data.data[i].name + -+data.data[i].id,
          value: data.data[i].id,
        });
      }
    });
    $(document).on("keydown.autocomplete", "#asearch", function () {
      $(this).autocomplete({ source: companies_namelist });
    });
  });
</script>
<!-- 자동완성 리스트를 불러오기위한 로직 끝 -->

<div class="main">
  <!-- <span style="font-size: 2rem; font-weight: 600">레미콘사 회원</span> -->
  <input type="radio" id="tab-1" name="show" checked />
  <input type="radio" id="tab-2" name="show" />
  <div class="tab">
    <label for="tab-1">레미콘사 회원내역</label>
    <label for="tab-2">레미콘사 회원별 공장내역</label>
  </div>
  <div class="content">
    <div class="demo-html" style="margin-top: 10px">
      <table
        id="remicon_table"
        class="display"
        style="width: 100%"
        ellspacing="0"
      >
        <thead>
          <tr>
            <th>고유코드</th>
            <th>이름</th>
            <th>회사명</th>
            <th>직위/직급</th>
            <th>사내 전화번호</th>
            <th>이메일</th>
            <th>휴대전화</th>
            <th>가입일</th>
            <th>수정일</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="demo-html">
      <table id="remicon_factorylist_table" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>레미콘공장</th>
            <th>레미콘 공장 주소</th>
            <!-- <th>회원여부</th>
            <th>권한여부</th> -->
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
