<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="http://www.datatables.net/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no"
    />
    <title>Conaz_admin</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/editor.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./resources/syntax/shCore.css"
    />
    <link rel="stylesheet" type="text/css" href="./resources/demo.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <style type="text/css" class="init"></style>

    <script
      type="text/javascript"
      language="javascript"
      src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="../js/dataTables.editor.min.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="./resources/syntax/shCore.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="./resources/demo.js"
    ></script>
    <script
      type="text/javascript"
      language="javascript"
      src="./resources/editor-demo.js"
    ></script>
    <script type="text/javascript" language="javascript" class="init">
      $(document).ready(function () {
        editor = new $.fn.dataTable.Editor({
          ajax: "/api/staff",
          table: "#example",
          fields: [
            {
              label: "First name:",
              name: "first_name",
            },
            {
              label: "Last name:",
              name: "last_name",
            },
            {
              label: "Position:",
              name: "position",
            },
            {
              label: "Office:",
              name: "office",
            },
            {
              label: "Extension:",
              name: "extn",
            },
            {
              label: "Start date:",
              name: "start_date",
              type: "datetime",
            },
            {
              label: "Salary:",
              name: "salary",
            },
          ],
        });
        $("#example").DataTable({
          dom: "Bfrtip",
          ajax: "/api/staff",
          columns: [
            {
              data: null,
              render: function (data, type, row) {
                // Combine the first and last names into a single table field
                return data.first_name + " " + data.last_name;
              },
            },
            { data: "position" },
            { data: "office" },
            { data: "extn" },
            { data: "start_date" },
            {
              data: "salary",
              render: $.fn.dataTable.render.number(",", ".", 0, "$"),
            },
          ],
          select: true,
          buttons: [
            { extend: "create", editor: editor, text: "등록" },
            { extend: "edit", editor: editor, text: "수정" },
            { extend: "remove", editor: editor, text: "삭제" },
          ],
        });
      });
    </script>
  </head>
  <body class="dt-example node">
    <div class="container">
      <section>
        <h1>Editor example <span>Basic initialisation</span></h1>
        <div class="info"></div>
        <div class="demo-html">
          <table id="example" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>
